/*
 * Common
 * FIXME this should be in a common CSS file
 *
 */

/* FIX: https://github.com/postgresqlfr/postgresqlfr-theme-v4/issues/7 */
.navbar-nav>li>a {
    margin: 12.5px 0px;
}

/*
 * Dokuwiki
 */

#dw__tagline {
	display: none;
}

.dokuwiki a.urlextern,
.dokuwiki a.interwiki,
.dokuwiki a.windows,
.dokuwiki a.mail,
.dokuwiki a.media {
  padding-left: 0 !important;
  background: none !important;
}

.dokuwiki h1 {
  text-align: center;
}

/*
 * Plugin Wrap
 */

.dokuwiki div.wrap_planet{ /* added */
  padding: 1em 1em .5em 70px;
  margin-bottom: 1.5em;
  min-height: 68px;
  background-position: 10px 50%;
  background-repeat: no-repeat;
  color: inherit;
  overflow: hidden;
  background-color: #B4C7D7;
  background-image: url(/lib/plugins/note/images/planet.png);
  background-color: #eef3ad; /* test */
}

.dokuwiki div.wrap_download {
    background-color: #74bec1;
  background-color: #eef3ad; /* test */
}

.dokuwiki div.wrap_tip {
    background-color: #eef3ad;
}

.dokuwiki div.wrap_actu{
    padding: 1em 1em .5em 70px;
    margin-bottom: 1.5em;
    min-height: 68px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    color: inherit;
    overflow: hidden;
    background-color: #B4C7D7;
    background-color: #adebbe;
  background-image: url(/lib/plugins/note/images/actu.png);
  background-color: #eef3ad; /* test */
}

.dokuwiki div.wrap_meetup{
    padding: 1em 1em .5em 70px;
    margin-bottom: 1.5em;
    min-height: 68px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    color: inherit;
    overflow: hidden;
    background-color: #B4C7D7;
	background-image: url(/lib/plugins/note/images/planet.png);
  background-color: #eef3ad; /* test */
}

.dokuwiki div.wrap_agenda{
  padding: 1em 1em .5em 70px;
  margin-bottom: 1.5em;
  min-height: 68px;
  background-position: 10px 50%;
  background-repeat: no-repeat;
  color: inherit;
  overflow: hidden;
  background-color: #B4C7D7;
  background-image: url(/lib/plugins/note/images/agenda.png);
  background-color: #eef3ad; /* test */
}

.dokuwiki .plugin_wrap h4 {
  border-bottom: 1px solid #dddddd;
}

/*
 *  Bootswatch - Readable
 */


body.readable .navbar-default {
  background-color: #336791;
  color: whitesmoke;
}

body.readable ul.dropdown-menu {
    background-color: #336791;
}

body.readable .navbar .navbar-nav>li>a {
    padding: 8px 6px
}

body.readable ul.nav li a, ul.nav li a:visited {
    color: whitesmoke !important;
}

body.readable ul.nav li a:hover, ul.nav li a:active {
    color: whitesmoke !important;
}

body.readable ul.nav li.active a {
    color: whitesmoke !important;
}

body.readable .navbar-brand {
  color: whitesmoke !important;
  text-transform: uppercase;
}

body.readable a {
color: #336791;
text-decoration: none;
}

body.readable footer {
  background-color: #336791;
  color: whitesmoke;
}

body.readable footer a {
  color: whitesmoke;
}

body.readable a.navbar-link {
	color: whitesmoke;
}

body.readable ul.nav li a.login {
	color: #336791 !important;
}


/*
 *  Bootswatch - flatly
 */


body.flatly .navbar-default {
    background-color: #336791;
}

body.flatly ul.dropdown-menu {
    background-color: #336791;
}

body.flatly .navbar .navbar-nav>li>a {
    padding: 8px 6px
}

body.flatly ul.nav li a, ul.nav li a:visited {
    color: whitesmoke !important;
}

body.flatly ul.nav li a:hover, ul.nav li a:active {
    color: whitesmoke !important;
}

body.flatly ul.nav li.active a {
    color: whitesmoke !important;
}

body.flatly .navbar-brand {
	color: whitesmoke !important;
	text-transform: uppercase;
}

body.flatly a {
color: #336791;
text-decoration: none;
}

body.flatly footer {
	background-color: #336791;
    color: whitesmoke;
}

body.flatly a.navbar-link {
	color: whitesmoke;
}

body.flatly ul.nav li a.login {
	color: #336791 !important;
}

/*
 * FluxBB
 */

#brddesc {
  border-top-style: dotted;
  border-top-width: 0px;
  padding: 10px 0 0;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  line-height: 1.1;
  color: inherit;
  font-size: 1.8em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
