- name: Deployer le theme dokuwiki
  synchronize:
    src: "dokuwiki/lib/tpl/tortoise"
    dest: "{{ dokuwiki_home }}/lib/tpl/"
    rsync_opts: "--chown=www-data:www-data"

- name: Activer la configuration du theme dokuwiki
  when: inventory_hostname in groups['testing']
  blockinfile:
    block: "{{ lookup('file', 'dokuwiki/conf/local.php.inc') }}"
    dest: "{{ dokuwiki_home }}/conf/local.php"
    backup: yes
    #validate: FIXME
