
- name: Deployer les fichiers statiques
  synchronize:
    src: "{{ item }}"
    dest: "{{ fluxbb_root }}"
    rsync_opts: "--chown=www-data.www-data"
  with_items:
     - "files/fluxbb/style"
     - "files/common/lib"
     - "files/common/images/favicon.ico"
     - "files/common/images"
     - "files/dokuwiki/conf/userstyle.css"

- name: Deployer les templates
  template:
    src: 'templates/fluxbb/style/Postgresql/main.tpl'
    dest: "{{ fluxbb_root }}/style/Postgresql/main.tpl"
