<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ site.baseurl }}/feed.xml" />
        <link rel="stylesheet" href="{{ site.baseurl }}/local.css">
{% include postgresqlfr-theme-v4/pgfr_header.html %}
</head>

<body class="readable blog">
{% include postgresqlfr-theme-v4/pgfr_navbar.html %}

<div class="titre_principal">
<h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
<hr />
</div>

<main>

{{ content }}

</main>

{% include postgresqlfr-theme-v4/pgfr_footer.html %}

</body>
{# FIXME include GA tracker#}
</html>
