<footer id="dw__footer" class="dw-container py-5 dokuwiki container-fluid">

<div class="container-fluid">
  <div class="row">

    <!-- col 1 -->
    <div class="col-sm-3">
      <div class="media-left">
          <img src="/images/logo.png" alt="PostgreSQL.fr" class="media-object" style="height:32px" />
      </div>
      <div class="media-body">
        <h4>PostgreSQL.FR</h4>
        <p>
        <span class="dw__tagline">
        La communauté francophone de PostgreSQL, la base de données open source de référence
        </span>
        </p>
      </div>
    </div>
    <!-- col 2 -->
    <div class="col-sm-3">
    <h4 id="a_propos">À propos</h4>

<p>
PostgreSQL est un système de gestion de base de données (SGBD) open source. Developpé activement depuis plus de 30 ans, il a gagné une solide réputation de fiabilité, de puissance et de performances.
</p>

<p>
La communauté des utilisatrices et utilisateurs du logiciel fournit une multitude d&#039;information pour découvir, apprendre, échanger et contribuer.
</p>

<p>
Le site officiel du projet est  <br/>

</p>

<p>
<strong>
<a href="https://www.postgresql.org" class="urlextern">https://www.postgresql.org</a>
</strong>
</p>
    </div>

    <!-- col 3 -->
    <div class="col-sm-3">
<h4 id="nous_contacter">Nous contacter</h4>

<p>
<a href="mailto:&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#112;&#111;&#115;&#116;&#103;&#114;&#101;&#115;&#113;&#108;&#46;&#102;&#114;" class="mail" title="&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#112;&#111;&#115;&#116;&#103;&#114;&#101;&#115;&#113;&#108;&#46;&#102;&#114;">Questions Générales</a> <br/>

<a href="mailto:&#98;&#117;&#114;&#101;&#97;&#117;&#64;&#112;&#111;&#115;&#116;&#103;&#114;&#101;&#115;&#113;&#108;&#46;&#102;&#114;" class="mail" title="&#98;&#117;&#114;&#101;&#97;&#117;&#64;&#112;&#111;&#115;&#116;&#103;&#114;&#101;&#115;&#113;&#108;&#46;&#102;&#114;">Bureau de l&#039;association</a> <br/>

<a href="mailto:&#101;&#110;&#116;&#114;&#101;&#112;&#114;&#105;&#115;&#101;&#115;&#46;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#112;&#111;&#115;&#116;&#103;&#114;&#101;&#115;&#113;&#108;&#46;&#102;&#114;" class="mail" title="&#101;&#110;&#116;&#114;&#101;&#112;&#114;&#105;&#115;&#101;&#115;&#46;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#112;&#111;&#115;&#116;&#103;&#114;&#101;&#115;&#113;&#108;&#46;&#102;&#114;">Groupe Inter-Entreprises</a>
</p>

<p>
<br/>

</p>

<h4 id="groupes_locaux">Groupes Locaux</h4>

<p>
<a href="https://www.meetup.com/fr-FR/PostgresBE/" class="urlextern" title="https://www.meetup.com/fr-FR/PostgresBE/" rel="ugc nofollow">Bruxelles</a> -
<a href="https://www.meetup.com/fr-FR/PostgreSQL-User-Group-Geneve/" class="urlextern" title="https://www.meetup.com/fr-FR/PostgreSQL-User-Group-Geneve/" rel="ugc nofollow">Genève</a> -
<a href="https://www.meetup.com/fr-FR/Meetup-PostgreSQL-Lille/" class="urlextern" title="https://www.meetup.com/fr-FR/Meetup-PostgreSQL-Lille/" rel="ugc nofollow">Lille</a> -
<a href="https://www.meetup.com/fr-FR/PostgreSQL-User-Group-Lyon/" class="urlextern" title="https://www.meetup.com/fr-FR/PostgreSQL-User-Group-Lyon/" rel="ugc nofollow">Lyon</a>
</p>

<p>
<a href="https://www.meetup.com/fr-FR/PostgreSQL-User-Group-Nantes/" class="urlextern" title="https://www.meetup.com/fr-FR/PostgreSQL-User-Group-Nantes/" rel="ugc nofollow">Nantes</a> -
<a href="https://www.meetup.com/fr-FR/PostgreSQL-User-Group-Paris/" class="urlextern" title="https://www.meetup.com/fr-FR/PostgreSQL-User-Group-Paris/" rel="ugc nofollow">Paris</a> -
<a href="https://www.meetup.com/fr-FR/PostgreSQL-User-Group-Toulouse/" class="urlextern" title="https://www.meetup.com/fr-FR/PostgreSQL-User-Group-Toulouse/" rel="ugc nofollow">Toulouse</a>
</p>
    </div>
    <!-- col 4 -->
    <div class="col-sm-3">
<h4 id="reseaux_sociaux">Réseaux Sociaux</h4>

<p>
<i class="dw-icons fa fa-youtube-play" style="font-size:18px" title=""></i> <a href="https://www.youtube.com/channel/UCR7skKC85Zn6p7fJ-lW7G8g" class="urlextern" title="https://www.youtube.com/channel/UCR7skKC85Zn6p7fJ-lW7G8g" rel="ugc nofollow"> Chaine Youtube</a>
</p>

<p>
<i class="dw-icons fa fa-linkedin" style="font-size:18px" title=""></i> <a href="https://www.linkedin.com/grp/home?gid=8187772" class="urlextern" title="https://www.linkedin.com/grp/home?gid=8187772" rel="ugc nofollow">Linkedin</a>
</p>

<p>
<i class="dw-icons fa fa-twitter" style="font-size:18px" title=""></i> <a href="https://twitter.com/PostgreSQLFR" class="urlextern" title="https://twitter.com/PostgreSQLFR" rel="ugc nofollow">Twitter</a>
</p>

<p>
<i class="dw-icons fa fa-github" style="font-size:18px" title=""></i> <a href="https://github.com/postgresqlfr" class="urlextern" title="https://github.com/postgresqlfr" rel="ugc nofollow">Github</a>
</p>

<p>
<i class="dw-icons fa fa-envelope" style="font-size:18px" title=""></i> <a href="http://www.postgresql.org/list/pgsql-fr-generale/" class="urlextern" title="http://www.postgresql.org/list/pgsql-fr-generale/" rel="ugc nofollow">liste de discussion</a>
</p>
    </div>
  </div>


<!-- line 2 -->
  <div class="footer-license row">
    <hr/>
    <div class="col-sm-12">
      <p class="small">
      &copy; <time>2004-2020</time> PostgreSQLFR
      </p>
      <p class="small">
      <a href="https://creativecommons.org/licenses/by/4.0/deed.fr" title="CC Attribution 4.0 International" target="" itemscope itemtype="http://schema.org/CreativeWork" itemprop="license" rel="license" class="license">
        <img src="/lib/tpl/bootstrap3/images/license/cc.png" width="24" height="24" alt="cc" />
        <img src="/lib/tpl/bootstrap3/images/license/by.png" width="24" height="24" alt="by" />
      </a>
      Sauf mention contraire, le contenu de ce site est publié sous les termes de la licence suivante :
      <a href="https://creativecommons.org/licenses/by/4.0/deed.fr" title="CC Attribution 4.0 International" target="" itemscope itemtype="http://schema.org/CreativeWork" itemprop="license" rel="license" class="license">CC Attribution 4.0 International</a>            </p>
    </div>

  </div>

</div>


</footer>

