<header id="dokuwiki__header" class="dw-container dokuwiki container-fluid mx-5">

<nav id="dw__navbar" class="navbar navbar-fixed-top navbar-default" role="navigation">

<div class="dw-container container-fluid mx-5">

<div class="navbar-header">

  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>

  <a class="navbar-brand d-flex align-items-center" href="https://{{ dokuwiki_domain_name }}//accueil" accesskey="h" title="PostgreSQL.fr">
  <img id="dw__logo" class="pull-left h-100 mr-4" alt="PostgreSQL.fr" src="/images/logo.png" />
  <div class="pull-right">
    <div id="dw__title">PostgreSQL.fr</div>
    <div id="dw__tagline">La communauté francophone de PostgreSQL, la base de données open source de référence</div>
  </div>
  </a>
</div> <!-- navbar-header -->

<div class="navbar-items collapse navbar-collapse">
<ul class="nav  navbar-nav">
  <li class="level1">
    <a href="https://{{ jekyll_domain_name }}/" class="" title="Actualité PostgreSQL">
    <i class="dw-icons fa fa-bullhorn" style="font-size:18px" title=""></i> Actu
    </a>
  </li>
  <li class="level1">
    <a href="https://{{ pgdocs_fr_domain_name }}/" class="" title="Documentation PostgreSQL">
    <i class="dw-icons fa fa-book" style="font-size:18px" title=""></i>
    Doc</a>
  </li>
  <li class="level1">
    <a href="https://{{ fluxbb_domain_name }}/" title="Forum PostgreSQL">
    <i class="dw-icons fa fa-lightbulb-o" style="font-size:18px" title=""></i>
    Forum</a>
  </li>
  <li class="level1">
    <a href="https://{{ dokuwiki_domain_name }}/asso/accueil" title="asso:accueil" >
    <i class="dw-icons fa fa-group" style="font-size:18px" title=""></i>
    Asso</a>
  </li>
  <li class="level1">
    <a href="https://{{ dokuwiki_domain_name }}//entreprises/accueil" title="PostgreSQL Entreprises">
    <i class="dw-icons fa fa-industry" style="font-size:18px" title=""></i>
    Entreprises</a>
  </li>
  <li class="level1">
    <a href="https://{{ planetplanet_domain_name }}/" title="Planète PostgreSQL" >
    <i class="dw-icons fa fa-globe" style="font-size:18px" title=""></i>
    Planète</a>
  </li>
  <li class="level1">
    <a href="https://{{ dokuwiki_domain_name }}//support" title="Support PostgreSQL">
    <i class="dw-icons fa fa-support" style="font-size:18px" title=""></i>
    Support</a>
  </li>
  <li class="level1"> <a href="https://twitter.com/postgresqlfr" rel="nofollow"><i class="dw-icons fa fa-twitter" style="font-size:18px" title=""></i></a>
  </li>
  <li class="level1"> <a href="https://www.youtube.com/channel/UCR7skKC85Zn6p7fJ-lW7G8g" rel="nofollow"><i class="dw-icons fa fa-youtube-play" style="font-size:18px" title=""></i></a>
  </li>
  <li class="level1"> <a href="https://www.linkedin.com/groups/8187772/" rel="nofollow"><i class="dw-icons fa fa-linkedin" style="font-size:18px" title=""></i></a>
  </li>
</ul>

</div> <!-- navbar-items -->

</div> <!-- dw-container -->

</nav>
</header>
