  * {{ '{{' }}fa>bullhorn{{ '}}'}}[[https://{{ jekyll_domain_name }}|Actu]]
  * {{ '{{' }}fa>book{{ '}}'}}[[https://{{ pgdocs_fr_domain_name }}|Doc]]
  * {{ '{{' }}fa>lightbulb-o{{ '}}'}}[[https://{{ fluxbb_domain_name }}|Forum]]
  * {{ '{{' }}fa>group{{ '}}'}}[[https://{{ dokuwiki_domain_name }}/asso/|Asso]]
  * {{ '{{' }}fa>industry{{ '}}'}}[[https://{{ dokuwiki_domain_name }}/entreprises/|Entreprises]]
  * {{ '{{' }}fa>support{{ '}}'}}[[https://{{ dokuwiki_domain_name }}/support/|Support]]
  * [[https://twitter.com/postgresqlfr|{{ '{{' }}fa>twitter{{ '}}' }}]]
  * [[https://www.youtube.com/channel/UCR7skKC85Zn6p7fJ-lW7G8g|{{ '{{' }}fa>youtube-play{{ '}}' }}]]
  * [[https://www.linkedin.com/groups/8187772/|{{ '{{' }}fa>linkedin{{ '}}' }}]]
